@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7eded;
}
a {
  text-decoration: none;
  color: black;
}

main {
  width: 90%;
  margin: 0 auto;
}
section {
  margin: 0.5rem auto;
}

hr {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

select {
  border: none;
}

/* ------------------------------------------------- Class --------------------------------------- */
.navbar {
  background: #fff;
}
.nav {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  padding: 0;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left img {
  height: 150px;
  width: 150px;
  margin-right: 10px;
}

.nav-left select {
  font-size: x-large;
}

.nav-right {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}

.nav-right span {
  font-size: 1.2rem;
}

.nav-right i {
  margin-right: 0.5rem;
  font-size: large;
}

.food-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.food-items div:hover {
  cursor: pointer;
}
.food-item img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.resturants {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.resturant {
  width: 21%;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 2rem;
}
.resturant:hover {
  cursor: pointer;
  transform: scale(0.9);
  z-index: 10;
  position: relative;
}
.resturant div {
  padding: 0.1rem 0.5rem;
}
.resturant img {
  width: 100%;
  border-radius: 1rem;
  height: 200px;
  object-fit: cover;
}
.resturants span {
  color: grey;
}
.filter {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
}
.filter div {
  margin-right: 2rem;
  cursor: pointer;
  border: 1px solid gray;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  background-color: #fff;
}
.cities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cities div {
  width: 21%;
  text-align: center;
  border: 1px solid gray;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
footer {
  background-color: #f8f8f8;
  padding: 40px 20px;
  color: #333;
}
.footer-container {
  max-width: 1200px;
  margin: auto;
}
.footer-top {
  text-align: center;
  margin-bottom: 20px;
}
.app-buttons img {
  width: 150px;
  margin: 10px;
  cursor: pointer;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding-top: 20px;
}
.column h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.column ul {
  list-style: none;
  padding: 0;
}
.column ul li {
  margin: 8px 0;
  cursor: pointer;
  color: #666;
  transition: color 0.3s;
}
.column ul li:hover {
  color: #000;
}
.social-icons span {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}
/* ---------------------------------- signin --------------------------------------- */
.form-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign-in {
  background-color: white;
  width: 500px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2rem;
}
.sign-in form {
  margin-top: 2rem;
}
.sign-in input,
button {
  font-size: large;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
}

.sign-in button {
  background-color: #0a66c2;
  color: #fff;
  border: none;
  cursor: pointer;
}

.line-bar {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  align-items: center;
  color: gray;
}

.line-bar p {
  border: 2px solid lightgray;
  width: 40%;
  height: 0;
  margin: 0 auto;
}

.sign-in .btn-2 {
  background-color: #fff;
  color: darkgray;
  border: 2px solid darkgray;
}

.suggest {
  text-align: center;
  margin-top: 2rem;
  font-size: large;
}
.suggest a {
  color: #007bff;
  font-weight: bold;
}

.back {
  margin: 2rem;
}
.back a {
  background-color: #dc3545;
  padding: 0.5rem 2rem;
  color: whitesmoke;
}
/* ------------------------------------------ help ------------------------------- */

.help-section {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: white;
  padding: 2rem;
}

.help {
  font-size: large;
  display: flex;
}
.help ul {
  list-style: none;
}
.help li {
  margin: 1rem auto;
  padding: 0.5rem;
  cursor: pointer;
}
.help-option {
  background-color: #edf1f7;
  width: 30%;
}
.help-option li:hover {
  font-weight: bold;
}

.faq {
  margin-left: 2rem;
  width: 65%;
}

.faq li {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

/* --------------------------------------- About -------------------------------- */
.about-section {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: white;
  padding: 2rem;
  text-align: center;
}

.about-intro {
  font-size: 1.3rem;
}

.about-section h1 {
  margin: 2rem auto;
  font-weight: 300;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.grid-item {
  margin: 1rem auto;
}
.grid-item h3 {
  font-weight: 400;
}
.grid-item button {
  width: auto;
  font-size: small;
  background-color: white;
  border: 1px solid #fe5005;
  padding: 0.5rem 1rem;
  border-radius: 0;
  margin-top: 1rem;
}
.grid-item:hover button {
  background-color: #fe5005;
  color: white;
}

/* --------------------------------------- Cart ---------------------------------- */
.cart {
  font-size: xx-large;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----------------------------------------- Media Quearies ---------------------------------------------------------------- */
@media (max-width: 1024px) {
  .nav-left img {
    height: 120px;
    width: 120px;
    margin-right: 5px;
  }
  .nav-left select {
    font-size: medium;
  }
  .nav-right i {
    font-size: medium;
    margin-right: 0.2rem;
  }
  .nav-right span {
    font-size: medium;
  }
  .food-item img {
    width: 100px;
    height: 100px;
  }
  .about-section {
    width: 70%;
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  body {
    font-size: small;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  h1 {
    padding-bottom: 1rem;
  }
  .nav {
    width: 95%;
  }
  .nav-left img {
    height: 80px;
    width: 80px;
    margin-right: 5px;
  }
  .nav-left select {
    font-size: small;
  }
  .nav-right {
    width: 70%;
  }
  .nav-right i {
    font-size: medium;
    margin-right: 0.2rem;
  }
  .nav-right span {
    font-size: medium;
  }
  .food-item img {
    height: 150px;
    width: 150px;
  }
  .food-item {
    margin-bottom: 0.5rem;
  }
  .about-section {
    width: 90%;
    padding: 0.5rem;
  }
  .about-intro {
    font-size: small;
  }
  .about-section h1 {
    margin: 0.5rem auto;
  }
  .grid-item img {
    height: 120px;
  }
  .help-section {
    width: 90%;
    padding: 1rem;
  }
  .help {
    font-size: x-small;
  }
  .cart {
    font-size: x-large;
  }

  .sign-in {
    width: 400px;
  }
  .sign-in input,
  button {
    font-size: small;
    padding: 0.5rem;
    border-radius: 0.2rem;
  }
}
@media (max-width: 425px) {
  body {
    font-size: x-small;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  h1 {
    padding-bottom: 1rem;
  }
  .nav {
    width: 95%;
  }
  .nav-left img {
    height: 50px;
    width: 50px;
    margin-right: 5px;
  }
  .nav-left select {
    font-size: x-small;
  }
  .nav-right {
    width: 40%;
  }
  .nav-right span {
    display: none;
  }
  .nav-right i {
    font-size: x-small;
  }
  .food-items {
    margin-top: 0;
  }
  .food-item {
    margin-bottom: 1rem;
    margin-bottom: 0.5rem;
  }
  .food-item img {
    width: 80px;
    height: 80px;
  }

  .resturant img {
    width: 100%;
    border-radius: 1rem;
    height: 80px;
    object-fit: cover;
  }
  .resturant {
    font-size: 0.4rem;
    margin-bottom: 0.2rem;
  }
  .resturant div {
    padding: 0.1rem;
  }
  .resturants h1 {
    padding-bottom: 0.1rem;
    /* border: 2px solid red; */
  }
  .filter {
    margin-top: 0;
    margin-bottom: 0.3rem;
  }
  .filter div {
    font-size: xx-small;
    margin: 0.1rem;
  }
  .filter select {
    font-size: xx-small;
  }
  .cities div {
    width: 45%;
    font-size: xx-small;
    margin: 0.2rem;
    padding: 0.2rem;
  }
  .app-buttons img {
    width: 70px;
    margin: 10px;
    cursor: pointer;
  }
  .footer-top {
    margin-bottom: 0;
  }
  .footer-links {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding-top: 10px;
  }
  .footer-container h4 {
    font-size: 0.5rem;
  }
  .footer-container {
    font-size: 0.4rem;
  }

  .about-section {
    width: 90%;
    padding: 0.2rem;
  }
  .about-intro {
    font-size: x-small;
  }
  .about-section h1 {
    margin: 0.5rem auto;
  }
  .grid-item {
    margin: 0.3rem auto;
    font-size: xx-small;
    margin-bottom: 1rem;
  }
  .grid-item img {
    height: 80px;
  }
  .grid-item h3 {
    font-size: xx-small;
  }
  .grid-item button {
    font-size: 8px;
    padding: 0.1rem 0.3rem;
    margin-top: 0.2rem;
  }
  /* -------------------------------- help ----------------------------- */
  .help-section {
    width: 90%;
    padding: 0.5rem;
  }

  .help {
    display: block;
    font-size: xx-small;
  }
  .help-option {
    width: 100%;
  }
  .help li {
    margin: 0;
    padding: 0.2rem;
  }
  .faq {
    margin-top: 2rem;
    width: 100%;
    margin-left: 0;
  }
  /* ------------------------------- cart ---------------------------- */
  .cart {
    font-size: large;
    text-align: center;
  }

  /* --------------------------------- sign in -------------------------- */

  .form-box {
    position: static;
    top: auto;
    left: auto;
    transform: none;
  }
  .sign-in {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 1rem;
  }
  .sign-in form {
    margin-top: 0.5rem;
  }
  .sign-in input,
  button {
    font-size: small;
    padding: 0.5rem;
    border-radius: 0.2rem;
  }
  .line-bar {
    margin: 0.5rem 0;
  }
  .line-bar p {
    border: 1px solid lightgray;
  }
  .suggest {
    font-size: smaller;
    margin-top: 1rem;
  }
}
